node-modules/
bundle.js
bundle.js.mapgt

/node_modules
/app/assets/javascripts/bundle.js
/public/assets



config/initializers/secret_token.rb
config/master.key

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

