@import '../variables';

$navigation-background-color: #333333;
$navigation-height: 45px;
.navigation{
  height: $navigation-height;
  width:100%;
  display: flex;
  justify-content: space-between;
  background-color: $navigation-background-color;

  button{
    // padding: 20px 30px;
    
    font-family:'Quicksand', sans-serif;
    font-size: 12px;
    color: white;
  }
  .splash-button {
    background-color: red;
    width: 70px;
    height: $navigation-height;
    margin-left: $page-side-margin;
    img{
      width: 70px;
      height: $navigation-height;
      position: absolute;
      transform: translate(-50%, -50%);
    }
  }
  .spacer{
    width:100%;
  }

  .upload-button{
    background-color: $navigation-background-color;
    text-align: center;
    position: relative;
    width: 60px;
    height: 100%;

    span{
      position: absolute;
      top: 50%;
      transform: translate(-50%,-50%);
    }
  }

  .user-page-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 150px;
    height: $navigation-height;
    background-color: $navigation-background-color;
    margin-right: $page-side-margin;
    padding: 10px;
    
    img{
      width:28px;
      height:28px;
      border-radius: 50%;
      margin-right: 15px;

    }
  }
}