@import '../variables';

$play-button-length:62px;
$album-cover-length:340px;
$sound-wave-width:820px;
$reg-text-size: 18px;
$background-width: 1240px;
$background-height: 385px;

.song-page-component{
  width:100%;
  height:100%;
  padding-bottom:60px;
  background-color: white;
  
  .song-container{
    position: relative;
    height:$background-height;
    
    >* {
      left: 50%;
    }
    
    .song-background{
      position: absolute;
      transform: translateX(-50%);

      width: $background-width;
      height: $background-height;
      overflow:hidden;
      
      img{
        width: $background-width;
        height: $background-width;
        object-fit: cover;
        -webkit-filter: blur(25px);
        filter: blur(25px);
        object-position: 0  (-$background-width/2+ $background-height/2);
        transform: scale(1.1);
        
        background: black;
        opacity: 60%;
      }
    }

    .song{
      position: absolute;
      display: grid;
      grid-template-areas: 
        "play text .    time pic"
        ".    .    .    .    pic"
        "wave wave wave wave pic";
      grid-template-columns: $play-button-length auto auto auto $album-cover-length;
      grid-template-rows: $play-button-length auto auto;
      background-color: transparent;

      font-family: Roboto, sans-serif;

      transform: translate(-50%, -50%) translateY($background-height/2);


      .play-button{
        position: relative;
        grid-area: play;
        margin-right: 20px;

        .play-icon-background, .play-icon{
          height: $play-button-length;
          width: $play-button-length;
          position: absolute;
          bottom: 50%;
          right: 50%;
          transform: translate(50%, 50%);
          color: white;
        }
        .play-icon{
          color: $soundcloud-color;
        }
      }

      .text{
        grid-area: text;
        display: flex;
        flex-direction: column;

        span{
          background: rgba(0,0,0,.7);
        }
        .artist-name{
          color: $text-color;
          font-size:$reg-text-size;
          padding:2px 7px 3px;
          margin-right: auto;
          margin-bottom: 5px;


        }
        .song-name{
          color: white;
          font-size: 24px;
          padding:5px;
        }
      }

      .time-ago{
        grid-area: time;
        color: white;
        font-size: $reg-text-size;
        margin-top: 10px;
        margin-right: 20px;
      }

      .song-wave-pic{
        grid-area: wave;
        height: auto;
        width: $sound-wave-width;
        margin-right: 20px;
      }

      .album-pic{
        grid-area: pic;
        width: $album-cover-length;
        height: $album-cover-length;
      }

    }

  }

  .comment-form{
    height: 40px;
    display: flex;
    flex-direction: row;
    padding: 30px $page-side-margin + 25px;

    img{
      width: 40px;
      height: 40px;
    }
    .input-div{
      background: $input-border-color-light;
      border: 1px solid $input-border-color;
      border-left: none; 
      padding:10px;
      width: 100%;

      input{
        width: 100%;
            box-sizing: border-box;

      }
    }

  }

  .profile-and-comments{
    display: flex;
    flex-direction: row;
    
    border-top: 1px solid $input-border-color-light;
    padding-top: 20px;
    margin: 0 40px;

    img{
      border-radius: 50%;
      width: 120px;
      height: 120px;
      margin-bottom: 5px;
    }
    
    span{
      font-family: 'Overpass', sans-serif;
    }


    

    .profile-pic{
      display: flex;
      flex-direction: column;
      align-items: center;

      margin-right: 30px;
      span{
        text-align: center;
      }
    }

    .comments{
      $comment-pfp-length: 40px;
      $comment-text-color: #999999;
      width: 100%;


      li{
        display: grid;
        grid-template-areas: 
          "pic name     time"
          "pic comment  .";
        grid-template-columns: $comment-pfp-length auto auto ;
        grid-template-rows: auto auto;

        font-size: 14px;
        column-gap: 10px;
        padding: 10px 0;

        img{
          grid-area: pic;
          width: $comment-pfp-length;
          height: $comment-pfp-length;
        }
        .comment-username{
          grid-area: name;
          color: $comment-text-color;
        }
        .comment-content{
          grid-area: comment;
        }
        .comment-time{
          grid-area: time;
          color: $comment-text-color;
          text-align: end;
          margin-right: 20px;
        }


      }
    }
  }
}