

@import '../../variables';

// .app {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
// }


$audio-player-text-color: lightgray;
// $audio-player-background-color: rgb(58, 58, 58);
$audio-player-height: 35px;
$volume-component-width: 70px;
$volume-component-height: 15px;


.audio-player {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $audio-player-height;
  background: $slider-background-color;
  display: flex;


  * {
    color: $audio-player-text-color;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    
  }
  button {
    background: $slider-background-color;
    padding: 0 8px;
    outline: none;
  }

  button:hover {
    filter: brightness(125%);
  }
}

.song-bar{
  display: flex;
  height:100%;
  width: 75%;

  
  .song-time-bar {
    
    display: flex;
    // flex-direction: row;
    width: 80%;    

  }
  
  .control-bar{
    // height: 30px;
    width: 70%;
    background: rgb(31, 28, 41);
    margin: 0 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;


    > *{
      width: 90%;

    }

    .scrubber-background{
      
      background: $slider-background-color;
      height: 2px;
      position: absolute;
      // display: block;
      // margin: auto;
      
    }

    .scrubber {
      // background: red;
      background:transparent;
      height:100%;
      // width: 100%;
      padding: 0;
      outline: none;
      position: absolute;
      margin: auto;

      display: flex;
      align-content: center;
      // justify-content: center;

      
    
      
      // .progress-bar{
        
        // }
      
      .progress-bar{
        width:90%;
        height: 2px;
        display: flex;
        flex-direction: row-reverse;
        background: $slider-progress-bar-color;
        // align-items: center;
        margin: auto 0;
        
        
        .progress-bar-slider-button{
          height: 10px;
          opacity: 0;
          position:absolute;
          transform: translate(50%,-44%);
          background: none;
          color: none;
          * {
            color: inherit;
          }
          
        }
        
      }
    }
    .scrubber:hover{
        .progress-bar-slider-button{
          display:inline-block;
          color:red;
          opacity: 100%;

        }
    }
    
  }
  span{
    display: flex;
    align-items: center;
    padding: 0 5px;

  }

  // .current-time, .song-length {
  //   // text-align: center;
  //   margin: auto, 0;
  // }

  
  .volume-component{
    // position: relative;
    display: flex;
    flex-direction: column;
    width: 30px;
    
    input {
      //because of transformation rotation, x is y and y is x.
      position: absolute;
      margin: 0;
      width: $volume-component-width;
      // height: $volume-component-height;
      transform: 
        translateX(-$volume-component-width/2 + $volume-component-height) //when unrotated, this actually shifts the input to the left
        rotate(270deg ) 
        translateX(($volume-component-width+$audio-player-height)/2); //has to be x after rotation
      
        
    }
      
    .volume-button{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height:$audio-player-height - 1px;
      // margin: auto;
    }
  }


}










.link-bar{
  display: flex;

  .song-links{
    display: grid;
    grid-template-columns: auto 80px ;

    margin-left: 8px;

    .album-cover-button {
      height: $audio-player-height;
      width: $audio-player-height;
      background-size:cover ;
      padding: 0;

      img{
        width: 100%;
        height: auto;
        // object-fit: scale-down;
      }
      
    }

    a {
      font-size: 10px;

    }

  }
}

