
@import '../../variables';

body{
  background-color: $page-background-color;
  margin: 0 $page-side-margin;
  
  // justify-content: center;
}
#root{
  margin-top: $navigation-height;
}
.app{
  // position: absolute;
  margin: auto ;
  display: flex;
  flex-direction: column;
  justify-content: center;
}