
$soundcloud-color: #FF5000;

$text-color : lightgray;
$slider-background-color:   rgb(242, 242, 242);// rgb(58, 58, 58);
// $slider-progress-bar-color: rgb(139, 0, 0);
$slider-progress-bar-background-color:    #cccccc ;

$slider-thumb-color: $soundcloud-color;

$page-background-color: rgb(239, 241, 248);  //#53525a;

$page-side-margin: 20px;//13px;






$audio-player-height: 50px;//46px;



// :export{
//   sliderProgressBarBackgroundColor: $slider-progress-bar-background-color;
// }