

$text-color : lightgray;
$slider-background-color:    rgb(58, 58, 58);
$slider-progress-bar-color:  rgb(139, 0, 0);
$slider-thumb-color: red;

$page-background-color: rgb(239, 241, 248);  //#53525a;

$page-side-margin: 13px;


$soundcloud-color: #FE5000;