



h1 {
  font-family: 'Roboto', sans-serif;
}


.press-button {  
  padding: 8px 15px;
  font-size: 12px;
  margin:5px;
 
  * {
    color: lightgray; 
    // $header-font-color;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
  }
}