@import '../../variables';

$image-upload-box-width : 260px;

.song-form-component{
  // background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 $page-side-margin;
  background-color: white;
  padding: 0 20px 40px 20px;
  
  input, select, textarea{
    border-radius: 4px;
    border: 1px solid  $input-border-color;
    padding: 0px 10px;
    font-family: 'Open Sans', sans-serif;
  }
  input, select{
    height: 25px;
  }
  textarea{
    height: 100px;
    padding-top: 4px;
  }
  
  
  .audio-upload-box{
    width: 70%;
    height: 130px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  .asterisk{
    display: inline-block;
    transform: translateY(-3px);
    color: red;
    font-size: 11px;
    padding-right: 2px;

  }

  .song-form{
    display: flex;
    flex-direction: column;
    width: 100%;

    justify-content: center;

    margin: 20px;


    .form-inputs{
      display: flex;
      width: 100%;
      justify-content: center;
      margin-bottom: 30px;

    }
    .image-upload-box{
      width: $image-upload-box-width;
      height: $image-upload-box-width;
      position: relative;

      img{
        width: 100%;
        height: 100%;
        position: absolute;
      }
      input[type='file']{
        display:none;
      }
      .image-upload{
        display: flex;
        align-items: center;
        position: absolute;
        top:80%;
        left: 50%;
        transform: translateX(-50%);

        width: 118px;
        height: 25px;
        border: 1px solid $input-border-color;
        border-radius: 3px;

        padding: 5px 10px;

        background-color: rgb(228, 230, 233);
        // font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
        font-family: 'Open Sans', sans-serif;

        font-size: 14px;
     
        
  
        svg {        
          position: relative;
          height: 20px;
          width: auto;
        }

        span{
          padding-left: 3px;
        }
      }


      
    }
    .column-2{
      display:flex;
      flex-direction: column;
      width: 75%;
      margin-left: 20px;



      
      label{
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
      }
      


      // .title{}
      // .genre{}
      // .description{}
    }
    .form-buttons{
      display: flex;
      align-items: center;
      
      border-top: 1px solid $input-border-color-light;
      border-bottom: 1px solid $input-border-color-light;
      padding: 25px 0;
      
      
      button{
        padding: 2px 10px;
        font-family: 'Open Sans', sans-serif;
        font-weight: bolder;
        border-radius: 4px;
        height:30px;
      }
      .cancel-button{
        background-color:transparent;
      }
      .save-button{
        background-color: $soundcloud-color;
        color: white;
      }
      
      .spacer{
        flex-grow: 1;
      }
    }
  }

  .input-name{
    font-size: 12px;
    font-family: Lucida Grande;

  }
}