@import '../../variables';

$image-upload-box-width : 260px;

.song-form-component{
  // background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 $page-side-margin;
  // .song-form-title{

  // }
  
  // margin: auto;
      //this is outside of the form tag
  .audio-upload-box{
    width: 70%;
    height: 130px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }


  .song-form{
    display: flex;
    width: 100%;

    font-family: 'Open Sans', sans-serif;
    justify-content: center;

    margin: 20px;



    .image-upload-box{
      width: $image-upload-box-width;
      height: $image-upload-box-width;
      position: relative;

      img{
        width: 100%;
        height: 100%;
        position: absolute;
      }
      input[type='file']{
        display:none;
      }
      .image-upload{
        display: flex;
        align-items: center;
        position: absolute;
        top:80%;
        left: 50%;
        transform: translateX(-50%);

        width: 118px;
        height: 25px;
        border: 1px solid black;
        border-radius: 3px;
        padding: 5px 10px;

        background-color: rgb(228, 230, 233);
        font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
        font-size: 14px;
     
        
  
        svg {        
          position: relative;
          height: 20px;
          width: auto;
        }

        span{
          padding-left: 3px;
        }
      }


      
    }
    .column-2{
      display:flex;
      flex-direction: column;
      width: 75%;
      margin-left: 20px;

      
      label{
        display: flex;
        flex-direction: column;

        padding-bottom: 20px;

        .input-name{
          font-size: 12px;
        }

        .asterisk{
          color: red;
          font-size: 11px;
          transform: translateY(-3px);
          display: inline-block;
          
        }

        input, select{
          height: 25px;
          padding: 0 2px;
        }

        .form-buttons{
          // display:flex;
        }
      }


      // .title{}
      // .genre{}
      // .description{}
    }

  }

}